// COLORS
$color-primary-dark: #0A1C34;
$color-primary-dark2: #1B314C;
$color-primary: #2E4159;
$color-secondary: #455A74;
$color-secondary2: #68798F;

$color-white: #FFF;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// SIZE
$header-height: 5rem;
$sidebar-width: 30rem;