@import "../../sass/main";

.AddButton {
  display: flex;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 3rem;
  background-color: $color-primary-dark;
  color: $color-white;
  border-radius: 4.5rem;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0, .5);
  align-items: center;
  justify-content: center;

  position: absolute;
  left: $sidebar-width - 7rem;
  bottom: 4rem;

  transition: all .3s;

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0, .5);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0, .5);
  }
}