@import "../../sass/main";

main {
  position: absolute;
  top: $header-height;
  left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});
  height: calc(100% - #{$header-height});
}

@media screen and (max-width: 600px) {
  main {
    width: 100%;
    left: unset;
    height: calc(100% - #{$header-height});
  }
}