@import '../../sass/main';

.AddTodoForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 2rem;
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.input-container {
  width: 100%;
  margin-bottom: 1rem;
}

.col-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > div:not(:last-child) {
    margin-right: 1rem;
  }
}

.date {
  display: flex;
  flex-direction: column;
  z-index: 4;

  > label {
    font-size: 1.3rem;
    margin-bottom: .2rem;
  }

  .datePicker {
    border: none;
    border-bottom: solid #9b9b9b 1.4px;
    width: 100%;
    outline: none;
    transition: all .2s ease-in;

    &:focus,
    &:active {
      border-bottom: 1.4px solid $color-primary;
    }
  }
}

.margin-bottom {
  margin-bottom: 2rem;
}

.btn {
  border: none;
  border-radius: 1rem;
  background-image: linear-gradient(to right, $color-secondary2 0%, $color-primary 100%);
  background-image: -webkit-linear-gradient(to right, $color-secondary2 0%, $color-primary 100%);
  color: $color-white;
  font-weight: bold;
  height: 3rem;
  outline: none;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0, .5);
  // width: 100px;
  // align-self: flex-end;

  -webkit-backface-visibility: hidden;
  transition: all .3s;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0, .5);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0, .5);
  }
}